* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #f0f2f5;
}

.container {
  display: flex;
  height: 100vh;
  width: 960px;
  max-width: 95%;
  margin: 0 auto;
}

.logo-section {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.logo-section img {
  height: 106px;
  margin-left: -28px;
}

.logo-section p {
  font-size: 24px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 396px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}

input {
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  font-size: 17px;
  margin: 6px auto;
  width: 100%;
}

input:focus {
  border: 2px solid #1877f2;
  outline: none;
}

.btn {
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  padding: 0 16px;
  margin: 0 auto;
}

.btn-login {
  margin: 6px 0;
  background-color: #1877f2;
  font-size: 20px;
  width: 100%;
}

a {
  text-decoration: none;
}

.forgot-pwd {
  font-size: 14px;
  color: #1877f2;
  text-align: center;
  margin-top: 16px;
}

.forgot-pwd:hover {
  text-decoration: underline;
}

.divider {
  margin: 20px 16px;
  border-bottom: 1px solid #dadde1;
}

.btn-register {
  font-size: 17px;
  background-color: #42b72a;
}

.form-section p {
  text-align: center;
  margin-top: 28px;
}

.form-section p a {
  color: #000;
  font-weight: bold;
}


/* styling untuk tampilan tablet & mobile (768px ke bawah) */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo-section {
    width: 400px;
    padding-right: 0;
  }

  .logo-section p {
    text-align: center;
  }

  .logo-section img {
    margin-left: 0;
  }

  .form-section {
    margin-top: 40px;
  }
  .card {
    margin: 0 auto;
  }
}